/* .services {
  color: #252d3f;
  border: lightgrey solid 0.5px;
  border-radius: 25px;
  padding: 1em;
  height: 5%;
} */
.services-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  /* margin-top: 12%; */
}

.sub-title {
  font-family: "Montserrat", sans-serif;

  font-size: 1em;
}

.interested {
  font-family: "Montserrat", sans-serif;

  font-size: 1em;
  margin-bottom: 10%;
}
.border-left {
  border-left: lightgrey solid 0.5px;
}
/* @media (max-width: 767px) {
  .border-left {
    border-left: white 0px solid !important;
  }
} */
@media (max-width: 767px) {
  .border-left {
    border-left: none !important;
  }
}
.border-bottom {
  border-bottom: lightgrey solid 0.5px;
}
@media (min-width: 767px) {
  .border-bottom {
    border-bottom: none !important;
  }
}
.list-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 10px;
  margin: 5px;
  overflow-y: hidden;
}

.list {
  font-family: "Montserrat", sans-serif;
  margin: 15px;
}

.colored-font {
  color: #f35959;
}

.services-icon {
  margin-top: 10px;
}

.ul {
  border: none !important;
}

#collaborate-link {
  color: #f35959;
  text-decoration: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-quest:hover {
  color: #f35959;
  cursor: pointer;
}

.custom-btn {
  background-color: #252e3f;
}
.custom-btn:hover {
  background-color: #252e3f;
}
.modal-body {
  font-family: "Montserrat", sans-serif;
}

.modal-title {
  font-family: "Roboto", sans-serif;
}

#languages {
  margin-top: 25px;
}
