.services {
  color: #252d3f;
  padding: 40px;
}
.services-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.sub-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
}
