.projects {
  padding-bottom: 20%;
  /* padding-top: 40%; */
  background-color: #eef4f6;
  /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%); */
}
.project-thumbnail {
  max-width: 100%;
}

.project-image-container {
  display: block;
  max-height: 278px;
  margin: 29px;
  overflow-y: scroll;
  background: white;

  border: solid 2px black;
}

.project-image-container:hover {
  -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-description-container {
  margin: 29px;
}
.projects-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

#projects-sub {
  margin-bottom: 10%;
}

.project-name {
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}

.tech-used {
  font-family: "Montserrat", sans-serif;
  color: #f35959;
}

#btn-space {
  margin: 10px;
}
