/* .container {
  width: 100vw;
  height: 100vh;
} */

.box {
  width: auto;
  height: auto;
  transition-duration: 2s;
  transition-property: width;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container:hover .box {
    width: 600px;
  } */

.welcome {
  /* background: #07beb8; */
  transition-timing-function: linear;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
  color: #f35959;
  margin-bottom: 50%;
  text-align: left;
}

.two {
  background: #3dccc7;
  transition-timing-function: ease-in;
}

.three {
  background: #9ceaef;
  transition-timing-function: ease-out;
}

.four {
  background: #b1f8f2;
  transition-timing-function: ease-in-out;
}
/* .container {
    width: 100vw;
    height: 100vh;
  } */

.box {
  width: auto;
  height: auto;
  transition-duration: 2s;
  transition-property: width;
  display: flex;
  justify-content: center;
  align-items: left;
}

/* .container:hover .box {
    width: 600px;
  } */

.one {
  /* background: #07beb8; */
  transition-timing-function: linear;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  color: #f35959;
  margin-bottom: 50px;
}

.two {
  background: #3dccc7;
  transition-timing-function: ease-in;
}

.three {
  background: #9ceaef;
  transition-timing-function: ease-out;
}

.four {
  background: #b1f8f2;
  transition-timing-function: ease-in-out;
}
