.about-div {
  background-color: #252d3f;
  padding-bottom: 209px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
  color: seashell;
  margin-top: -1px;
}
.about-font {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
}

#about-me {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  /* font-weight: bold; */
}

/* .info-div {
  text-align: center !important;
} */
.about-info {
  color: #f35959;
}

.mobile-view {
  background-color: #252d3f;
  color: white;
  font-size: 0.5em;
}

@media screen and (min-width: 700px) {
  .mobile-view {
    display: none;
  }
}

#my-photo {
  width: 210px;
  height: 210px;
  margin-top: 10%;
  margin-bottom: 15px;
}
