.about-div {
  background-color: #252d3f;
  padding-bottom: 209px;
  color: seashell;
}
.about-title-font {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 10%;
  font-size: 1.5em;
}

#my-photo {
  align-content: center !important;
}
#about-me {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

/* .info-div {
  text-align: center !important;
} */
.about-info {
  color: #f35959;
}
