.about-div {
  background-color: #252d3f;
  padding-bottom: 209px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
  color: seashell;
}

#my-photo {
  /* align-content: center !important; */
  margin-top: 10%;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
}
#about-me {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

/* .info-div {
  text-align: center !important;
} */
.about-info {
  color: #f35959;
}
