.home {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.title {
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  position: absolute;
  right: 5%;
  bottom: 0rem;
  left: 5%;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  color: #fff;
  text-align: center;
}

.header {
  font-size: 4.7vw;
  font-weight: bold;
}

.Typewriter__wrapper {
  font-size: 2.8vw;
  color: #f35959;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: 2.8vw;
}
