.carousel-control-prev-icon {
  visibility: hidden;
}

.carousel-control-next-icon {
  visibility: hidden;
}

.sr-only {
  visibility: hidden;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.7vw;
  padding: 5px;
  position: absolute;
  right: 5%;
  bottom: 0rem;
  left: 5%;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  color: #fff;
  text-align: center;
}

.header {
  font-size: 3.7vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* line-height: 35pt;
  white-space: nowrap; */
}
.header2 {
  font-size: 3vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* line-height: 35pt;
  white-space: nowrap; */
}

.Typewriter__wrapper {
  font-size: 2vw;
  font-family: "Cairo", sans-serif;
  color: #f35959;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: 2vw;
}

@media (max-width: 800px) {
  #carouselContainer {
    display: none !important;
  }
}
