.contact-div {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

/*  */
#contact-icon {
  margin: 10px;
}
/* svg {
  width: 5%;
} */
.contact-link {
  text-decoration: none;
  color: black;
}

.freelance-link {
  text-decoration: none;
  color: #f35959;
}
