.contact-div {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

#email-icon {
  margin: 10px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.freelance-link {
  text-decoration: none;
  color: #f35959;
}

#email-p {
  margin-bottom: 5%;
}
