.nav-bar {
  /* position: absolute;
  top: 10px;
  width: 100%;
  z-index: 999; */
  background-image: linear-gradient(
    15deg,
    /* #554f4f 15%,
    #545150 10%,
    #48484c 90% */
  );
  font-family: "Montserrat", sans-serif;
}

#services-nav-link {
  /* background: #f35959;
  color: #253e8f;
  border-radius: 14px;
  padding: 8px; */
}

#responsive-navbar-nav {
  text-align: center;
}
