.nav-bar {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 999;
  /* background-color: transparent !important; */
}

#services-nav-link {
  background: #f35959;
  color: #253e8f;
  border-radius: 14px;
  padding: 8px;
}
