* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* color: seashell; */
}
body {
  padding-top: 75px;

  /* width: 100% !important; */
}

/* .App {
  text-align: center;
 
  font-family: "Montserrat", sans-serif;
} */
.background-color {
  background-color: white;
  /* background-color: #252d3f; */
  /* background-color: #2d264b; */
  /* background-color: #46248f;*/
}

.App {
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
}
